.container{ 
 
  display: flex;
  justify-content: center;
 
}


img { 
 width: 100px;
}

.card { 
box-shadow: 1px 2px 4px rgba(1, 1, 1, 1.3);
text-align: center;
max-width:18rem;

}

.cidade { 
font-size: 30px;
}

.date { 
font-size: 16px;

}


.container-temp { 
display:flex;
justify-content: center;
background-color: rgba(0, 0, 0, 0.2);
font-size: 100px;
font-weight: 900;
text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

.weather { 
font-size: 30px;

}

.hi-low { 
font-size: 22px;
}









































